.nav-label , .nav-item i{
    display: none;
}



@media (max-width:1199.98px){
    .header{
        justify-content: center;
    }
    .nav .nav-item > a{
        padding: 15px;
        font-size: 1.5rem;
    }
    .user-action .btn {
        font-size: 1.8rem;
    }
    .container{
        width: 1000px;
    }
    .product-list {
        --column: 2;
    }
    .product-item > a {
        height: 286px;
    }

    .footer-logo {
        width: 280px;
    }
    .footer .social{
        width: 100%;
        flex-wrap: wrap;
    }
    .social a{
        width: 100%;
    }
    .list-footer{
        width: 140px;
    }
}





@media (max-width:991.98px){
    .container{
        width: 780px;
    }
    .header{
        justify-content: space-between;
        position: relative;
    }
    .nav{
        overflow-y: auto;
        overscroll-behavior: none;
        text-align: left;
        width: 100%;
        height: 100vh;
        position: absolute;
        flex-direction: column;
        background: rgba(0,0, 0, 0.8);
        top:140px;
        left: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transform: scale(1,0);
        transform-origin: 100% 2%;
        transition:  opacity 0.3s ease, visibility 0.3s ease,transform 0.3s ease;
        z-index: 999;
    }
    .nav li{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav li +li{
        border-top: 1px solid #535151;
    }
    .nav .nav-item > a{
        display: block;
        width: 91%;
        border-right:1px solid #535151; ;
        font-weight: 500;
    }
    .nav-item i{
        display: block;
        color:#fff;
        width: 60px;
        text-align: center;
        padding: 20px;
    }
    .logo-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .nav-label{
        display: block;
        color: #fff;
        font-size: 3rem;
    }
    input[type="checkbox"]:checked + .nav{
        opacity: 1;
        visibility:visible;
        transform: scale(1);
    }
    .nav-item1{
        display: block;
        width: 100%;
    }

    input[type="checkbox"]:checked ~ .nav-item1{
        position: initial;
    }
    .nav-item .nav-item1 li{
        width: 100%;
    }
    .nav-item li + li{
        border-top: 1px solid #0000000d;
    }
    .header-content{
        margin-bottom: 85px;
    }


    .main .inner{
        flex-direction: column-reverse;
        gap: 80px;
    }
    .footer .inner{
        flex-wrap: wrap;
    }

    .footer .social{
        width: 89%;
        flex-wrap: nowrap;
    }

    .bottom , .footer-subscribe{
        margin-top: 30px;
        flex-grow: 1;
    }
    .footer-subscribe{
        margin-left: 100px;
    }
}






@media (max-width:767.98px){
    .nav .nav-item > a{
        width: 88%;
    }
    .sidebar{
        min-width: 270px;
        max-width:none;
    }
    .footer .inner{
        flex-direction: column;
        gap: 60px;
    }
    .footer-subscribe, .footer-logo , .footer-list{
        margin-top:0;
        margin-left: 0;
        width: 100%;
    }
    .footer .social{
        width: 33%;
    }
}

@media (max-width:575.98px){
    .nav .nav-item > a{
        width: 86%;
    }
    .container{
        width: 580px;
    }
    .product-list {
        --column: 1;
    }
    .product-item > a {
        height: 491px;
    }
    
}

@media (max-width:480.98px){
    .nav .nav-item > a {
        width: 80%;
    }
    .container{
        width: 481px;
    }
    .top-main {
        flex-direction: column;
        gap: 30px;
    }
    .product-item > a {
        height: 425px;
    }
}